<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Find Your Next Startup's Name
        meta(name='description', content='Generate a name for your next startup with one click! 🚀')
        // Google / Search Engine Tags
        meta(itemprop='name', content='MrPeker/find-your-next-startups-name')
        meta(itemprop='description', content='Generate a name for your next startup with one click! 🚀')
        meta(itemprop='image', content='http://repository-images.githubusercontent.com/263772574/5a8fd080-959d-11ea-9cf3-84478b68e486')
        // Facebook Meta Tags
        meta(property='og:url', content='https://find-your-next-startups-name.now.sh')
        meta(property='og:type', content='website')
        meta(property='og:title', content='MrPeker/find-your-next-startups-name')
        meta(property='og:description', content='Generate a name for your next startup with one click! 🚀')
        meta(property='og:image', content='http://repository-images.githubusercontent.com/263772574/5a8fd080-959d-11ea-9cf3-84478b68e486')
        // Twitter Meta Tags
        meta(name='twitter:card', content='summary_large_image')
        meta(name='twitter:title', content='MrPeker/find-your-next-startups-name')
        meta(name='twitter:description', content='Generate a name for your next startup with one click! 🚀')
        meta(name='twitter:image', content='http://repository-images.githubusercontent.com/263772574/5a8fd080-959d-11ea-9cf3-84478b68e486')

        link(rel='stylesheet', href="/normalize.css")
        link(rel='stylesheet', href="/styles.css")
        link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet")
    body
        .app    
            h1.title Find Your Next Startup's Name
            h2.description Generate a name for your next startup. Your next startup's name:
            h3.name
                a(href='https://dofo.com/search?s=' + name target="_blank")=name
            h4.syllables!=syllables
            .credits 
                span This project uses 
                    a(href="https://www.thisworddoesnotexist.com/", target="_blank") thisworddoesnotexist.com
                |  as data source. 
                br 
                | Please 
                a(href="https://twitter.com/MehmetAliCode", target="_blank") contact me
                |  for any copyright infringement.
            
            .github
                a.visit(href="https://github.com/MrPeker/awesome-illustrations", target="_blank") 
                    b Are you looking for illustrations? 
                    | Visit Awesome Illustrations: 
                    i A curated list of awesome illustrations & tools ✨
            
            .github
                a.visit(href="https://github.com/MrPeker/find-your-next-startups-name", target="_blank") Visit MrPeker/find-your-next-startups-name on GitHub
                .buttons
                    a.github-button(href='https://github.com/MrPeker', data-color-scheme='no-preference: dark; light: light; dark: dark;', data-size='large', data-show-count='true', aria-label='Follow @MrPeker on GitHub') Follow @MrPeker
                    a.github-button(href='https://github.com/MrPeker/find-your-next-startups-name', data-color-scheme='no-preference: dark; light: light; dark: dark;', data-icon='octicon-star', data-size='large', data-show-count='true', aria-label='Star MrPeker/find-your-next-startups-name on GitHub') Star
            .ph
            
            script(src='/main.js')
            script(async='', defer='', src='https://buttons.github.io/buttons.js')
